@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos Grupo 6</h1>
    <p>Enlace Carpeta Compartida Drive <a href="https://drive.google.com/drive/folders/1tH6ZHojOOIt3l1HjDl2AsPq1p7LEffKo">Carpeta referencia ASP.NET Core</a>.</p>
</div>
