@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Pagina donde esta almacenada la informacion de seguridad de navegacion....</p>

<!--
    dotnet new page -n List -na Blazor_web.App.Frontend.Pages -o .\Pages\Saludos\
 -->