@page
@model HospiEnCasa.App.Frontend.Pages.ListModel
@{
}
<!--<h3>Bienvenidos al sistema de hospitalizacion en casa</h3>-->
<h2>Listado de Saludos en Varios Idiomas</h2>

<table class="table">
  @foreach (var Saludo in Model.Saludos)
  {
      <tr>
        <td>@Saludo.EnEspanol</td>
        <td>@Saludo.EnIngles</td>
        <td>@Saludo.EnItaliano</td>
        <td><a class="btn btn-primary table-btn" asp-page="./Details" asp.route-saludoId=@saludo.Id>
        <i class=fas fa-info-circle> </i>
        Detalle Saludo
        </a></td>
      </tr>
  }
</table>
<br>
<!--
<table class="table">
    foreach (var medico in Model.ListaMedicos)
    {
        <tr>
            <td>medico</td>
        </tr>
    }
</table>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div>
<select class="form-select" aria-label="Default select example">
  <option selected>Open this select menu</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
</select>
-->